@{
    ViewData["Title"] = "Home Page";
}

@model IPagedList<CarMarketWithLogin.Models.Car>
@using X.PagedList
@using X.PagedList.Mvc.Core

<h1>Все автомобили:</h1>


<form>
    <select name="mark-navigator" onchange="top.location.href = this.options[this.selectedIndex].value;">
        <option selected value="#">Все марки</option>
        @foreach (var item in Model.GroupBy(x => x.Brand))
        {
            <option value="/ChoseCar/ChosenMark/{@item.Key}">@item.Key</option>
        }
    </select>
</form>

<form>
    <select name="mark-navigator" onchange="top.location.href = this.options[this.selectedIndex].value;">
        <option selected value="#">По умолчанию</option>
        <option value="/Home/SortPrice">по цене</option>
        <option value="/Home/SortYear">по году</option>
    </select>
</form>


<div class="row mt-5 mb-2">
    @{
        foreach (var car in Model)
        {
            <div class="col-lg-4">
                <a class="btn-block" href="/CarInfo/InfoAbout/{@car.Model}">
                    <div class="ramka">
                        <img src="@car.Imgs.OrderBy(x => x.Url).FirstOrDefault(x => x.CarId == car.Id).Url"
                             alt="@car.Brand" width="400" height="400"/>
                    </div>
                </a>
                <h2>@car.Brand</h2>
                <p>@car.Model</p>
                <p>Рекомендованная цена: @car.RecommendPrice.ToString()$</p>
                <p><a class="btn-block" href="/CarInfo/InfoAbout/{@car.Model}">Подробнее</a> <a class="btn btn-warning" href="/test/{@car.Id}">В закладки</a></p>
            </div>
        }
    }
</div>

<div style="text-align: center;">
    
      <div style="display: table; margin: 0 auto; text-align: center;">Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount </div>
      <div style="display: table; margin: 0 auto; text-align: center;">@Html.PagedListPager(Model, page => Url.Action("Index",  new { page })) </div>
    
</div>

